name: Blinkist Notify

on:
  workflow_dispatch:

jobs:
  run-and-notify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v2
      - name: download blink de
        id: run
        continue-on-error: true
        run: |
          set -o pipefail
          docker run --rm -v "downloads":/downloads ghcr.io/nicoweio/blinkist:latest --freedaily /downloads || echo "FAILED" > /tmp/run_status || true
          if [ -f /tmp/run_status ]; then echo "status=failed" >> $GITHUB_OUTPUT; else echo "status=success" >> $GITHUB_OUTPUT; fi

      - uses: montudor/action-zip@v1
        with:
          args: zip -qq -r dir.zip downloads

      - name: send audio
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          document: dir.zip
